body { margin:0;top:0;right:0;bottom:0;left:0; min-width: 200px;font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 10px;}
#legend {position: fixed; bottom: 17.3px; left: 17.3px}
#header {position:relative;top:0;font-family: Arial}
#footer{bottom:0;position: relative; font-size: 11px;  padding: 2em 0 1em 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
#footer a {color: #4a90e2}
#footer p {margin: 0 0 1px 0}
@media screen and (min-width:200px){
    #header, #footer {
        display:block;
        position: fixed;
        right: 17.3px;
        width: 242px;
    }
}
#header img {border-radius:50% ;margin-top: 27px;}
#header h1 {font-size: 16px; margin-bottom: 10px; line-height: 19px; font-size: 19px; font-weight: bold;}
#header p,#header i{font-size: 12px; }
#plot {margin-top: -55px; background: #fff; z-index: 3;}
#axis {background-color: #fff; }
#axis .axis.axis--x path,#axis .axis.axis--x line{stroke: #fff;}
#axis .axis.periods path{stroke: #fff;}
#axis.sticky{
    position: fixed;
    top: 0;
    height: 50px;
}
#plot.sticky_plot{margin-top: 0px;}
.axis .tick:first-of-type {text-anchor: start}
.axis.periods .tick{text-anchor: start}
.axis .tick:last-of-type {text-anchor: end}
.axis.periods .tick:last-of-type{text-anchor: start}
text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #000;
    font-size: 10px;
    background: #fff;
}

svg {

    padding-top: 30px;
    fill: black;
}
.genus{
    font-family: sans-serif;
    font-size: 10px;
    fill: black;
}
#onGenusClick{
    stroke: darkslategray;
    height: 50px;
    width: 50px;
}

.trackLine, .startLine{
    stroke:#231f20;
    stroke-width: 0.5px;
    pointer-events: none;
}

h1{font-family: Arial;
    font-size: 29px;
}

.scaner_back{
    fill: #fff;
    border: 1px solid #B6FFD4;
    height: 20px;
    font-size: 10px;
}

.scaner_back text{fill:#000;}

.rec_fam{
    fill:cornflowerblue;
    rx:3px;
    ry:3px;
    fill: #ffffff;
}

.rec_clone{fill: none; stroke: red}

.rec_invisible{opacity: 0;}

.rec_subfam{
    opacity:0.2; /*for test*/
    fill: greenyellow;

    opacity:1; /*for production*/
    fill:#fff;
    rx:3px;
    ry:3px;
}

text.epicOrderName{
    font-size: 47px;
    font-size: 3vw;
    color:#231f20;
    opacity: 0.2;
    text-anchor: middle;
    letter-spacing: 0.5vw;
    font-family: "Times New Roman";
    text-transform: uppercase;
}
.connections path {
    fill: none;
}

.backForLabel {
    fill: #fff;
    opacity: 0.5}