svg {
    background-color: aliceblue;
    padding-top: 30px;
    fill: black;
}
.genus{
    font-family: sans-serif;
    font-size: 12px;
    fill: black;
}
#onGenusClick{
    stroke: darkslategray;
    height: 50px;
    width: 50px;
}

.trackLine{
    stroke:#231f20;
    stroke-width: 1px;
    pointer-events: none;
}

h1{font-family: Arial;
    font-size: 29px;
}

#begunok{
    fill: #fff;
    border: 1px solid #B6FFD4;
    width: 70px;
    height: 20px;
    font-size: 10px;

}
#begunok text{fill:#000;}

.rec_fam{
    opacity:1;
    fill: #eeeeee;
    rx:3px;
    ry:3px;
}